.cardWrapper{
    display: flex;
    flex-direction: row;
    height:350px;
    margin:20px;
    border-bottom: 1px solid lightgrey;
}

.leftItem{
    flex:1;
    display: flex;
    flex-direction: column;
    height:100%;
    align-items: center;
}
.lefttItemChild1{
    flex:3;
    padding:40px 20px 40px 20px;
}
.lefttItemChild2{
    flex:1;  
}
#wishlistIcon{
    position: relative;
    left: -100px;
    top: 25px;
    font-size: 25px;
}

.rightItem{
    flex:2;
    display: flex;
    flex-direction: column;  
    height:100%;  
}

.rightItemChild{
    flex:1;
}

.rightItemChild span{
    padding-left:10px;
}

.rightItemChild button:nth-child(2) {
    margin-left: 10px;
}
#productRating{
    margin-right: 5px;
}

@media (max-width:600px) {
    #wishlistIcon{
        position: relative;
        left: -65px;
        font-size: 20px;
    }
    .rightItem .rightItemChild:nth-child(2){
       display: none;
    }
    .rightItem .rightItemChild:nth-child(3){
        display: flex;
        flex-direction: column;
    }
    .rightItemChild span{
        padding-left:0px;
        margin-top: 10px;
    }
    .rightItemChild button:nth-child(2) {
        margin-left: 0px;
        margin-top: 10px;
    }
}



