.btn{
    min-width: 100px;
    padding: 10px;
    box-shadow: 3px 3px 5px grey;
    border: none;
    cursor: pointer;
}
.primary{
    background-color:rgb(40, 81, 134);
    color:white;
}
.info{
    background-color:green;
    color:white;
}
.danger{
    background-color:red;
    color:white;
}